* {
    color: black;
    background-color: white;
}

body, html {
    margin: 0;
    padding: 0;
}

a:link, a:visited {
    font-family: Impact;
    text-decoration: none;
    background-color:transparent ;
}

a:hover, a:active {
    color: darkgrey;
}

p {
    font-family: Helvetica;
    font-size: 16pt;
}

.container {
    width: auto;
    height: 300px;
    background-color: transparent;
}

header {
    width: 100%;
    height: 70px;
    background-color: transparent;
    top: 0px;
}

nav ul {
    margin: 0px;
    padding: 20px 50px 20px 30px;
}

nav li {
    margin-right: 40px;
    list-style: none;
    text-decoration: none;
    display: inline;
}

nav li a {
    text-decoration: none;
}

.calendar {
    margin-left: 50px;
}




.text-component {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* scroll alternate thing*/

.cd-section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.cd-section--bg-fixed {
    min-height: 100vh;
    background-attachment: fixed;
}

/* backgrounds */
.cd-section:nth-child(1) {
    background-image: url("assets/ardalan-hamedani-Kz9tSCGoF1Q-unsplash.jpg");
}

.cd-section:nth-child(2) {
    background-color: var(--cd-color-2);
}

.cd-section:nth-child(3) {
    background-image: url("assets/sean-driscoll-BSDebo0-UAo-unsplash.jpg");
}

/* all other background images */
